@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}
.thumb--left {
  z-index: 3;
}
.thumb--right {
  z-index: 4;
} /* Для браузеров на базе Webkit */
.thumb::-webkit-slider-thumb {
  background-color: #3b82f6;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: all;
  position: relative;
  transition: transform 0.2s ease;
}
.thumb::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
.thumb::-webkit-slider-thumb:active {
  transform: scale(1.1);
} /* Для Firefox */
.thumb::-moz-range-thumb {
  background-color: #3b82f6;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: all;
  position: relative;
  transition: transform 0.2s ease;
}
.thumb::-moz-range-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
.thumb::-moz-range-thumb:active {
  transform: scale(1.1);
}
.slider {
  position: relative;
  width: 100%;
}
.slider__track,
.slider__range {
  position: absolute;
}
.slider__track {
  background-color: #e5e7eb;
  width: 100%;
  z-index: 1;
}
.slider__range {
  background-color: #3b82f6;
  z-index: 2;
}
